body {
  font-family: "Poppins" !important;
}

.navbar{
  margin-top: -10px;
}
.navbar .navbar-nav a {
  color: white;
  font-size: 14px;
  border-radius: 20px;
}

.navbar .navbar-nav a:hover {
  background-color: antiquewhite;
  color: black;
  border-radius: 20px;
}

.navbar .navbar-button button {
  color: black;
  background-color: white;
  border-radius: 20px;
  font-size: 12px;
}

#user {
  color: #fff;
  font-size: 24px;
}

#hero {
  margin-top: -10px;
  height: 560px;
  background-color: #54bab9;
  color: antiquewhite;
}

#hero h1 {
  font-size: 60px;
  width: 50%;
}

#misi {
  color: antiquewhite;
}

#misi .misi-text {
  width: 40%;
  background-color: #18978f;
  box-shadow: 20px 10px 10px rgba(0, 0, 0, 0.25);
}

#misi .misi-text p {
  font-size: 12px;
  padding: 20px;
}

#misi .misi-text button {
  border-radius: 20px;
  background-color: antiquewhite;
  border: 0;
  padding: 7px 12px;
  color: antiquewhite;
}

#misi .misi-text button a {
  color: black;
  text-decoration: none;
}

#about-bullying {
  padding: 20px;
  background-color: #18978f;
  color: antiquewhite;
}

#about-bullying .about-bullying-text {
  width: 30%;
}

#about-bullying .about-bullying-text p {
  font-size: 12px;
  padding: 20px 0px 20px 0px;
}

#about-bullying .about-bullying-text button {
  border-radius: 20px;
  background-color: antiquewhite;
  border: 0;
  padding: 7px 15px;
  color: antiquewhite;
}

#about-bullying .about-bullying-text button a {
  color: black;
  text-decoration: none;
}

#fitur {
  background-image: url("https://i.postimg.cc/sf453LBZ/Rectangle-51.png");
  background-size: cover;
  padding: 30px;
}

#fitur .fitur-text {
  color: #224f34;
  font-size: 20px;
}

#fitur .fitur-content {
  color: antiquewhite;
}

.fitur-content .fitur-contents {
  background-color: #18978f;
  padding: 50px;
  margin: 40px;
  box-shadow: 20px 10px 10px rgba(0, 0, 0, 0.25);
}

.fitur-content p {
  font-size: 12px;
  padding: 20px 0px 20px 0px;
}

.fitur-content h4 {
  padding: 20px 0px 0px 0px;
}

.fitur-content button {
  border-radius: 20px;
  background-color: antiquewhite;
  border: 0;
  padding: 7px 15px;
  color: antiquewhite;
}

.fitur-content button a {
  text-decoration: none;
  color: black;
}

#feedback {
  padding: 30px;
}

#feedback .feedback-text {
  color: #224f34;
  font-size: 20px;
}

#feedback .feedback-comments {
  font-size: 12px;
}

#feedback .feedback-comments h4 {
  padding: 10px;
}

footer {
  background-color: #18978f;
  padding: 30px;
  color: antiquewhite;
}

footer #social-media {
  width: 33%;
}

footer #social-media h4 {
  padding: 10px 0;
}

footer ul li a {
  text-decoration: none;
}

footer ul li {
  list-style-type: none;
}

#footers {
  display: flex;
  gap: 100px;
}

footer a {
  color: antiquewhite;
  font-size: 12px;
}

@media (max-width: 575.98px) {
  .navbar .navbar-button {
    text-align: center;
  }
  .navbar .navbar-button button {
    width: 100%;
    margin: 10px;
    margin-left: 0;
  }
  #hero {
    text-align: center;
    padding-left: 0 !important;
    padding-bottom: 20px;
  }
  #hero h1 {
    font-size: 50px;
    width: 100%;
  }

  #misi {
    text-align: center;
  }
  #misi .misi-text {
    width: 80%;
    margin-top: 20px;
  }

  #about-bullying .about-bullying-text {
    width: 100%;
    text-align: center;
  }

  #about-bullying .about-bullying-img {
    text-align: center !important;
    padding: 20px;
  }

  .fitur-content .fitur-contents {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    align-items: center;
  }

  #feedback .feedback-comments {
    margin: 10px;
  }

  footer #social-media {
    width: 100%;
    margin-bottom: 10px;
  }

  #footers {
    display: block;
    gap: 100px;
  }
}
